<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Angular Workshop</h2>
<ul>
  <li>
    <a target="_blank" href="https://shrinking-world.com/guide/Angular/Angular.md">Angular Workshop</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
  </li>
</ul>

<router-outlet></router-outlet>
