body {
    margin: 0px;
    padding: 0px;
    border: solid 2px green;
}

footer {
    color: green;
    padding: 2em;
    text-align: center;
}

header {
    background-color: blue;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    height: 200px;
    margin: 2em;
    padding: 3em;
}

header.logo {
    float: right;
}

header.logo img {
    border-radius: 20px;
    box-shadow: -2px -2px 5px gray;
}

header h1 {
    color: yellow;
}

header h2 {
    color: white;
}

main h1 {
    color: green;
}

main {
    padding: 3em;
}
